# ==============================
# Copy ke config.env lalu edit
# ==============================
PRINTSHOP_URL=http://129.226.135.26:8088
PRINT_AGENT_TOKEN=print-agent-change-me
PRINTER_NAME=Epson L3110 Series
PRINT_WORKER_NAME=PC-TOKO-1
PRINT_POLL_INTERVAL=2
# SUMATRA_PATH=C:\Program Files\SumatraPDF\SumatraPDF.exe
